<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<%= render 'messages/form', message: Message.new %>

<%= turbo_stream_from "messages" %>
<%= turbo_frame_tag "messages" do %>
<div id="messages">
  <% @messages.each do |message| %>
    <%= render message %>
    <p>
      <%= link_to "Show this message", message %>
    </p>
  <% end %>
</div>
<% end %>
